.lightbox-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255, .5);
    display: grid;
    place-items: center;
    padding: 1rem;
    z-index: 1000;
    /*bottom: 0px;*/
    top: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease-in-out;
}

.active {
    opacity: 1;
    pointer-events: all;
}

.lightbox-image-wrapper {
    display: grid;
    place-items: center;
    max-width: 90vh;
    max-height: 90vh;
    position: relative;
    box-shadow: 3px 3px 10px rgba(100, 100, 100, .4);
}

.lightbox-btn {
    background-color: rgb(255, 255, 255, .5);
    display: grid;
    place-items: center;
    padding: .8rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    position: absolute;
}

.lightbox-btn .inactive {
    opacity: 0;
    pointer-events: none;
}

.lightbox-btn:focus {
    outline: none;
}

.left {
    left: 5px;
}

.left:hover, .left:focus {
    left: 0px;
}

.right {
    right: 5px;
}

.right:hover, .right:focus {
    right: 0px;
}

.lightbox-image {
    width: 100%;
    object-fit: cover;
    cursor: zoom-out;
}